<h1>{{title}}</h1>

<div>
  <a href="#" routerLink="/">HOME</a>   | 
  <span *ngIf="!inLoginPage">
	<a href="#" routerLink="/dash">DASH</a>	 |
	<a href="#" routerLink="/vr">VR Player</a>	 |
    <a href="#" routerLink="/spotify">Spotify Artists</a>	 |
  </span>	
  <a *ngIf="isLoggedIn" href="#" (click)="logout($event)">LOG OUT</a>
  <span *ngIf="inLoginPage" class="inactiveLinks">
     DASH | VR Player  | Spotify
  </span>
</div>

<div class="logininfo">
	You are currently logged 
	<span *ngIf="isLoggedIn">
		in as: 
		<span class="username">{{username}}</span> 
	</span>
	<span *ngIf="!isLoggedIn">
		out.	
	</span>
</div>

<div class="maincontent">
	<router-outlet></router-outlet>
</div>	